.header--top {
  position: relative;

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    z-index: 3;
    background: #ffffff;
  }
}

.header__menu {
  position: absolute;
  top: 30%;
  left: -100%;
  width: 100%;
  height: 100%;
  transition: all .5s ease 0s;
  z-index: 4;
  background: #ffffff;
}

.menu__list {
  background: #ffffff;
}

.header__menu.active {
  left: 0%;
}

.header__burger {
  position: fixed;
  top: 0;
  left: 0;
  width: 50px;
  height: 50px;
  background: #ff7931;
  cursor: pointer;
  z-index: 5;

  span {
    background: #ffffff;
    position: absolute;
    width: 22.5px;
    height: 2px;
    left: 10px;
    top: 23.75px;
    transition: all .3s ease 0s;
  }

  &::before,
  &::after {
    content: '';
    background: #ffffff;
    position: absolute;
    width: 22.5px;
    height: 2px;
    left: 10px;
    transition: all .3s ease 0s;
  }


  &::before {
    top: 17.5px;
  }

  &::after {
    bottom: 18px;
  }
}

.header__burger.active {
  background: #ffffff;
  right: 0;
  left: auto;

  &::before,
  &::after {
    content: '';
    background: #D7D9DF;
    position: absolute;
    width: 28px;
    height: 2px;
    right: 10px;
  }

  &::before {
    transform: rotate(45deg);
    top: 24px;
  }

  &::after {
    transform: rotate(-45deg);
    bottom: 24px;
  }

  span {
    transform: scale(0);
  }
}

.header__title {
  &--h2-up {
    font-family: $fontPlayfair;
    font-weight: 900;
    font-size: 25px;
    line-height: 33px;
    text-align: center;
    letter-spacing: 1px;
    margin: 0;
    padding: 40px 50px 30px;
  }
}

.menu__item {
  &--bg-gray {
    margin: 20px 0;
    background: #F9F9FC;
    transition: .3s ease;
  }
}

.menu__link {
  text-decoration: none;
  font-weight: normal;
  text-transform: uppercase;

  &--a {
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #48494D;
    padding: 16px;
    display: block;
    position: relative;

    &:hover {
      background: #ff7931;
      color: #ffffff;
      transition: .4s ease-in-out;
    }

    &::before,
    &::after {
      content: "";
      position: absolute;
      background: rgba(72, 73, 77, 0.5);
      height: 2px;
      right: 16px;
      width: 10px;
    }

    &::before {
      top: 22px;
      transform: rotate(45deg);
    }

    &::after {
      top: 28px;
      transform: rotate(-45deg);
    }
  }
}

@media(min-width: $tablet-width-md) {
  .header--top {
    &::before {
      content: none;
    }
  }

  .header__title {
    &--h2-up {
      font-size: 35px;
      line-height: 47px;
      padding: 60px 0px 36px;
    }
  }

  .header__menu {
    position: relative;
    left: 0%;
    padding-bottom: 45px;
  }

  .header__burger {
    display: none;
  }

  .menu__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    grid-template-rows: auto;
  }

  .menu__item {
    text-align: center;
    &--bg-gray {
      margin: 10px 0;
      background: none;
    }
  }

  .menu__link {
    &--a {
      font-size: 15px;
      line-height: 19px;
      letter-spacing: 2px;
      padding: 0;

      &:hover {
        background: none;
        color: #cccccc;
        transition: .3s ease-in-out;
      }

      &::before,
      &::after {
        content: none;
      }
    }
  }
}

@media(min-width: $tablet-width-lg) {
  .menu__list {
    display: grid;
    grid-template-columns: repeat(9, auto);
    grid-template-rows: auto;
  }
}