.slider-subheader__text {
  text-align: center;
  padding: 25px 0 65px;
}

.slider-subheader__messege {
  font-weight: normal;
  font-size: 16px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #ff7931;
  max-width: 100px;
  margin: 0 auto;
  padding: 4.5px;
  box-sizing: border-box;
}

.slider-subheader__title {
  font-weight: 300;
  font-size: 30px;
  line-height: 45px;
  letter-spacing: 2px;
  text-transform: uppercase;
  color: #FFFFFF;
  margin: 30px 0 20px;
}

.slider-subheader__description {
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  max-width: 456px;
  margin: 0 auto;
  color: #FFFFFF;
  padding: 0 20px;
}

.subheader-bg-one,
.subheader-bg-two,
.subheader-bg-three,
.subheader-bg-fourth,
.subheader-bg-fifth {
  background-image: url("../img/slide_1.png");
  background-position: center;
  background-size: cover;
}

.slider-subheader {
  position: relative;
}

.slider__list--subheader .owl-dots {
  position: absolute;
  bottom: 20px;
  right: 0;
  left: 0;

  button {
    outline: none;
  }
}

@media(min-width: $tablet-width-md) {
  .slider-subheader__arraws {
    position: relative;
    height: 30px;
    border-right: 2px solid #fff;
    margin: 0 auto 55px;
    text-align: center;
    width: 0;

    &::before,
    &::after {
      content: url("../img/arrow.svg");
      position: absolute;
    }

    &::before {
      top: 6px;
      left: -40px;
    }

    &::after {
      top: 3px;
      right: -40px;
      transform: rotate(180deg);
    }
  }

  .slider-subheader__text {
    padding: 63px 0 47px;
  }

  .slider-subheader__title {
    font-size: 72px;
    line-height: 85px;
    margin: 44px 0 42px;
  }

  .slider-subheader__description {
    font-weight: normal;
    font-size: 14px;
    line-height: 21px;
    max-width: 456px;
    margin: 0 auto;
    color: #FFFFFF;
    padding: 0 20px;
  }

  .slider__list--subheader .owl-nav {
    position: absolute;
    top: 56%;
    left: 0;
    right: 0;
    color: #ffffff;
    font-weight: normal;
    font-size: 13px;
    line-height: 15px;
    max-width: 1180px;
    margin: auto;
    display: grid;
    grid-template-columns: auto auto;
    justify-content: space-between;
  }

  .slider__list--subheader .owl-prev,
  .slider__list--subheader .owl-next {
    position: relative;
    outline: none;

    &:hover {
      background: red;
    }

    &::before {
      content: '';
      position: absolute;
      top: 8px;
      width: 64px;
      height: 1px;
      background: #ffffff;
    }
  }

  .slider__list--subheader .owl-prev {
    &::before {
      right: -72px;
    }
  }

  .slider__list--subheader .owl-next {
    &::before {
      left: -72px;
    }
  }
}
