//font
$fontRaleway: "Raleway", sans-serif;
$fontPlayfair: 'PlayfairDisplay', serif;
//color
$default-color: #000000;
$body-background: #fff;
//mobile
$mobile-width: 320px;
//tablet
$tablet-width: 768px;
//desktop
$desktop-width: 1200px;
// retina
$mobile-width-only: 299px;
$retina-dpi: 144dpi;
$retina-dpx: 1.5dppx;
